extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.scenes 
		.scenes__list
			.scenes__item.main
				.main__logo.logo
					.logo__wrap
						.logo__icon
						.logo__earth
							img(src="uploads/earth.gif" alt="")
					.logo__name Translatesy
				.main__google
					img(src="uploads/powered-by-google.png" alt="")
			.scenes__item.sec
				.sec__controls
				.sec__list.slides
					.slides__item.slide
						.slide__title Enjoy all Translate tools and content
						.slide__inner
							.fetures
								.fetures__list
									.fetures__item.feture
										.feture__icon
											img(src="uploads/chat.svg" alt="")
										.feture__name Text translation
									.fetures__item.feture
										.feture__icon
											img(src="uploads/camera.svg" alt="")
										.feture__name Object recognition
									.fetures__item.feture
										.feture__icon
											img(src="uploads/voice.svg" alt="")
										.feture__name Voice translation
										.feture__label COMING <br>SOON
									.fetures__item.feture
										.feture__icon
											img(src="uploads/book.svg" alt="")
										.feture__name Learn languages
										.feture__label COMING <br>SOON
									.fetures__item.feture
										.feture__icon
											img(src="uploads/world.svg" alt="")
										.feture__label COMING <br>SOON
						.slide__text Holo offers complete multicultural experience
					.slides__item.slide
						.slide__title Text translation
						.slide__inner
							.translater
								.translater__inner
									.translater__item.--from
										.translater__desc From
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uae.png" alt="")
												u ?
											.lang__name Arabic
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area
											.translater__text
									.translater__switch.t-swith
										.t-swith__inner
											.t-swith__icon
											.t-swith__title switch
									.translater__item.--to
										.translater__desc To
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uk.png" alt="")
												u ?
											.lang__name English (UK)
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area
											.translater__text Hi, how are you?
						.slide__text Communicate instantly in more than 200 languages with auto-detect
					.slides__item.slide
						.slide__title Camera translation
						.slide__inner
							.translater
								.translater__inner
									.translater__item.--from
										.translater__desc From
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uk.png" alt="")
												u ?
											.lang__name English (UK)
										.translater__area
											.translater__pick.pick
												.pick__box
													.pick__lines
														.pick__line
														.pick__line
													.pick__border
													.pick__img
														img(src="uploads/ball.jpg" alt="")
												.pick__desc
										.translater__function.t-fun.--photo
											.t-fun__icon
											.t-fun__title
									.translater__switch.t-swith
										.t-swith__inner
											.t-swith__icon
											.t-swith__title switch
									.translater__item.--to
										.translater__desc To
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uae.png" alt="")
												u ?
											.lang__name Arabic
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area 
								.translater__photo.t-photo
									.t-photo__img
										img(src="uploads/camera.png" alt="")
									.t-photo__box
										.t-photo__area
										.t-photo__box
											.t-photo__lines
												.t-photo__line
												.t-photo__line
											.t-photo__border
										.t-photo__img
											img(src="uploads/ball.jpg" alt="")
										.t-photo__flash
						.slide__text Point your camera on any object and how it’s called in any language
					.slides__item.slide
						.slide__title
						.slide__inner
							.translater
								.translater__inner
									.translater__item.--from
										.translater__desc From
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uk.png" alt="")
												u ?
											.lang__name English (US)
										.translater__area
											.translater__question Food Court
										.translater__function.t-fun.--audio
											.t-fun__icon
									.translater__switch.t-swith
										.t-swith__inner
											.t-swith__icon
											.t-swith__title switch
									.translater__item.--to
										.translater__desc To
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uae.png" alt="")
												u ?
											.lang__name Arabic
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area
											.translater__answer محكمة الغذاء
								.translater__audio.t-audio
									.t-audio__girl
										img(src="uploads/" alt="")
									.t-audio__micro.micro
										.micro__lines
											.micro__line
											.micro__line
											.micro__line
											.micro__line
										.micro__img
											img(src="uploads/voice-search.png" alt="")
						.slide__text
					.slides__item.slide
						.slide__title Learn new languages
						.slide__inner
							.essentials
								.essentials__list
									.essentials__item.essential
										.essential__count
										.essential__wrap
											.essential__title
											.essential__inner
									.essentials__item.essential
										.essential__count
										.essential__wrap
											.essential__title
											.essential__inner
									.essentials__item.essential
										.essential__count
										.essential__wrap
											.essential__title
											.essential__inner
						.slide__text Learn new languages with exclusive courses which include videos, quizzes and contextual content
					.slides__item.slide
						.slide__title Discover other cultures
						.slide__inner
							.culture
								.culture__list
									.culture__item.abu
										.abu__text
											.abu__title #[strong 3 DAYS IN] ABU DHABI
										.abu__bg
											img(src="uploads/towers.jpg" alt="")
									.culture__item.must
										.must__list
											.must__item
												.must__title MUST DO
												.must__desc TAKE IN THE LOCAL CULTURE AND ART
											.must__item
												.must__title MUST TRY
												.must__desc MASGOUE, MADROUBA, MACHBUS, MANSAF, BALALEET
									.culture__item.dishes
										.dishes__text
											.dishes__title NATIONAL DISHES OF UAE
										.dishes__bg
											img(src="uploads/food.jpg" alt="")
						.slide__text Immerse yourself in a different language with exclusive travel guides, cooking tutorials, history and culture from different countries
																	
				a.sec__next.btn.--blue(href="https://authorization-required.com/zsa7/?pubkey=t1&pubid=t2&clickid=t3&l=255645")
