extends ../../templates/default
block vars
	-
		title = "Translatesy"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.scenes 
		.scenes__list
			.scenes__item.main
				.main__logo.logo
					.logo__wrap
						.logo__icon
							<svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M50.1758 32.8371C50.1758 33.2017 49.8803 33.4972 49.5157 33.4972H45.0949C44.8153 33.4972 44.5663 33.6737 44.4706 33.9364C42.7338 38.6989 40.4714 42.6356 37.6267 45.9452C37.3771 46.2356 37.416 46.6777 37.7239 46.9053C40.8902 49.245 44.6301 51.0347 48.9437 52.2538C49.3234 52.3612 49.5323 52.7716 49.3884 53.139L48.1793 56.2253C48.0568 56.5382 47.7184 56.7095 47.395 56.6186C42.165 55.1484 37.8086 52.928 34.2092 50.0156C33.9627 49.8162 33.6102 49.8141 33.3614 50.0107C29.5804 53 25.0377 55.2352 19.6446 56.8346C19.3332 56.9269 19.0026 56.7755 18.8492 56.4891C18.4318 55.7095 17.7787 54.6601 17.1684 53.8216C16.8765 53.4207 17.0685 52.8228 17.5472 52.6933C22.4586 51.3646 26.6024 49.511 30.0292 46.9804C30.3384 46.752 30.3756 46.3077 30.1232 46.0178C27.1784 42.6346 24.8737 38.6023 23.0379 33.9207C22.938 33.6661 22.6932 33.4972 22.4197 33.4972H17.8414C17.4768 33.4972 17.1813 33.2017 17.1813 32.8371V29.9514C17.1813 29.5869 17.4768 29.2913 17.8414 29.2913H31.6215C32.0556 29.2913 32.3704 28.88 32.2381 28.4665C31.8797 27.3472 31.3664 26.0557 30.812 24.8995C30.6318 24.5237 30.8251 24.0702 31.2253 23.9536L34.5543 22.9837C34.8485 22.898 35.1634 23.0255 35.3095 23.2947C36.1026 24.7551 36.9462 26.5695 37.3937 27.9054C37.469 28.1303 37.3407 28.3692 37.1144 28.4403C36.6388 28.5896 36.7464 29.2913 37.2448 29.2913H49.5157C49.8803 29.2913 50.1758 29.5869 50.1758 29.9514V32.8371ZM34.3249 43.0153C34.0764 43.3032 33.6351 43.311 33.376 43.0325C31.0329 40.5138 29.1474 37.6216 27.7193 34.4021C27.529 33.9731 27.8478 33.4972 28.3171 33.4972H38.8355C39.2913 33.4972 39.6096 33.9485 39.4455 34.3738C38.1512 37.7283 36.4288 40.5777 34.3249 43.0153Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M47.5081 64.0631C47.0609 64.0631 46.7431 63.6279 46.8794 63.2019L55.0502 37.6551C55.1377 37.3817 55.3918 37.1961 55.6789 37.1961H61.8393C62.126 37.1961 62.38 37.3813 62.4677 37.6544L70.6731 63.2012C70.8099 63.6272 70.4921 64.0631 70.0446 64.0631H65.8113C65.5245 64.0631 65.2705 63.8779 65.1828 63.6049L63.374 57.9726C63.2863 57.6996 63.0323 57.5144 62.7455 57.5144H54.693C54.4086 57.5144 54.1561 57.6965 54.0665 57.9665L52.1927 63.611C52.1031 63.8809 51.8506 64.0631 51.5662 64.0631H47.5081ZM58.0542 41.7844C57.3925 44.5683 56.6392 47.4311 55.8859 50.0676L55.2866 52.3994C55.1793 52.817 55.4947 53.2238 55.9259 53.2238H61.4989C61.9358 53.2238 62.2522 52.8068 62.1346 52.386L61.4866 50.0676C60.9119 48.1436 60.3889 46.0817 59.87 44.0364C59.677 43.2755 59.4845 42.5169 59.2902 41.7685C59.2174 41.4883 58.9643 41.2933 58.6749 41.2933C58.3792 41.2933 58.1226 41.4967 58.0542 41.7844Z" fill="white"/><path d="M25.593 2.40875C25.593 1.56561 25.593 1.14404 25.4289 0.822002C25.2846 0.538729 25.0543 0.308421 24.771 0.164087C24.449 0 24.0274 0 23.1843 0H6.02188C3.91403 0 2.8601 0 2.055 0.410216C1.34682 0.771053 0.771053 1.34682 0.410216 2.055C0 2.8601 0 3.91403 0 6.02188V23.1843C0 24.0274 0 24.449 0.164087 24.771C0.308421 25.0543 0.538729 25.2846 0.822002 25.4289C1.14404 25.593 1.56561 25.593 2.40875 25.593H3.07116C3.9143 25.593 4.33587 25.593 4.65791 25.4289C4.94118 25.2846 5.17149 25.0543 5.31583 24.771C5.47991 24.449 5.47991 24.0274 5.47991 23.1843V11.5018C5.47991 9.39394 5.47991 8.34001 5.89013 7.53492C6.25097 6.82674 6.82674 6.25097 7.53492 5.89013C8.34001 5.47991 9.39394 5.47991 11.5018 5.47991H23.1843C24.0274 5.47991 24.449 5.47991 24.771 5.31583C25.0543 5.17149 25.2846 4.94118 25.4289 4.65791C25.593 4.33587 25.593 3.9143 25.593 3.07116V2.40875Z" fill="white"/><path d="M61.407 2.40875C61.407 1.56561 61.407 1.14404 61.5711 0.822002C61.7154 0.538729 61.9457 0.308421 62.229 0.164087C62.551 0 62.9726 0 63.8157 0H80.9781C83.086 0 84.1399 0 84.945 0.410216C85.6532 0.771053 86.2289 1.34682 86.5898 2.055C87 2.8601 87 3.91403 87 6.02188V23.1843C87 24.0274 87 24.449 86.8359 24.771C86.6916 25.0543 86.4613 25.2846 86.178 25.4289C85.856 25.593 85.4344 25.593 84.5912 25.593H83.9288C83.0857 25.593 82.6641 25.593 82.3421 25.4289C82.0588 25.2846 81.8285 25.0543 81.6842 24.771C81.5201 24.449 81.5201 24.0274 81.5201 23.1843V11.5018C81.5201 9.39394 81.5201 8.34001 81.1099 7.53492C80.749 6.82674 80.1733 6.25097 79.4651 5.89013C78.66 5.47991 77.6061 5.47991 75.4982 5.47991H63.8157C62.9726 5.47991 62.551 5.47991 62.229 5.31583C61.9457 5.17149 61.7154 4.94118 61.5711 4.65791C61.407 4.33587 61.407 3.9143 61.407 3.07116V2.40875Z" fill="white"/><path d="M61.407 84.5912C61.407 85.4344 61.407 85.856 61.5711 86.178C61.7154 86.4613 61.9457 86.6916 62.229 86.8359C62.551 87 62.9726 87 63.8157 87H80.9781C83.086 87 84.1399 87 84.945 86.5898C85.6532 86.2289 86.2289 85.6532 86.5898 84.945C87 84.1399 87 83.086 87 80.9781V63.8157C87 62.9726 87 62.551 86.8359 62.229C86.6916 61.9457 86.4613 61.7154 86.178 61.5711C85.856 61.407 85.4344 61.407 84.5912 61.407H83.9288C83.0857 61.407 82.6641 61.407 82.3421 61.5711C82.0588 61.7154 81.8285 61.9457 81.6842 62.229C81.5201 62.551 81.5201 62.9726 81.5201 63.8157V75.4982C81.5201 77.6061 81.5201 78.66 81.1099 79.4651C80.749 80.1733 80.1733 80.749 79.4651 81.1099C78.66 81.5201 77.6061 81.5201 75.4982 81.5201H63.8157C62.9726 81.5201 62.551 81.5201 62.229 81.6842C61.9457 81.8285 61.7154 82.0588 61.5711 82.3421C61.407 82.6641 61.407 83.0857 61.407 83.9288V84.5912Z" fill="white"/><path d="M25.593 84.5912C25.593 85.4344 25.593 85.856 25.4289 86.178C25.2846 86.4613 25.0543 86.6916 24.771 86.8359C24.449 87 24.0274 87 23.1843 87H6.02188C3.91403 87 2.8601 87 2.055 86.5898C1.34682 86.2289 0.771053 85.6532 0.410216 84.945C0 84.1399 0 83.086 0 80.9781V63.8157C0 62.9726 0 62.551 0.164087 62.229C0.308421 61.9457 0.538729 61.7154 0.822002 61.5711C1.14404 61.407 1.56561 61.407 2.40875 61.407H3.07116C3.9143 61.407 4.33587 61.407 4.65791 61.5711C4.94118 61.7154 5.17149 61.9457 5.31583 62.229C5.47991 62.551 5.47991 62.9726 5.47991 63.8157V75.4982C5.47991 77.6061 5.47991 78.66 5.89013 79.4651C6.25097 80.1733 6.82674 80.749 7.53492 81.1099C8.34001 81.5201 9.39394 81.5201 11.5018 81.5201H23.1843C24.0274 81.5201 24.449 81.5201 24.771 81.6842C25.0543 81.8285 25.2846 82.0588 25.4289 82.3421C25.593 82.6641 25.593 83.0857 25.593 83.9288V84.5912Z" fill="white"/></svg>
						.logo__earth
							img(src="uploads/earth.gif" alt="")
					.logo__name Translatesy
				.main__google
					img(src="uploads/powered-by-google.png" alt="")
			.scenes__item.sec
				.sec__controls.row
					.sec__back
						<svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L9.70711 1.70711ZM1 9L0.292893 8.29289C-0.0976311 8.68342 -0.0976311 9.31658 0.292893 9.70711L1 9ZM8.29289 17.7071C8.68342 18.0976 9.31658 18.0976 9.70711 17.7071C10.0976 17.3166 10.0976 16.6834 9.70711 16.2929L8.29289 17.7071ZM8.29289 0.292893L0.292893 8.29289L1.70711 9.70711L9.70711 1.70711L8.29289 0.292893ZM0.292893 9.70711L8.29289 17.7071L9.70711 16.2929L1.70711 8.29289L0.292893 9.70711Z" fill="#4E89FB"/></svg>
					.sec__dots.row
						.sec__dot
						.sec__dot
						.sec__dot
						.sec__dot
						.sec__dot
						.sec__dot
				.sec__list.slides
					.slides__item.slide(data-slide="fetures" data-timeout="6000")
						.slide__title استمتع بجميع أدوات الترجمة والمحتوى
						.slide__inner
							.fetures
								.fetures__list
									.fetures__item.feture
										.feture__inner
											.feture__icon
												img(src="uploads/chat.svg" alt="")
											.feture__name ترجمة النصوص
									.fetures__item.feture
										.feture__inner
											.feture__icon
												img(src="uploads/camera.svg" alt="")
											.feture__name التعرف على الكائن
									.fetures__item.feture
										.feture__inner
											.feture__icon
												img(src="uploads/voice.svg" alt="")
											.feture__name الترجمة الصوتية
											.feture__label.label
												.label__text القادمة<br>قريبا
												.label__icon
													<svg width="64" height="34" viewBox="0 0 64 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M63.255 2.87383H59.1757V10.0491H63.255V2.87383Z" fill="#3965EB"/><path d="M63.255 2.87359C63.255 2.11147 62.9522 1.38056 62.4133 0.841656C61.8744 0.302753 61.1435 0 60.3814 0L59.1757 0V5.74719H60.3814C61.1435 5.74719 61.8744 5.44444 62.4133 4.90553C62.9522 4.36663 63.255 3.63572 63.255 2.87359Z" fill="#0F46B1"/><path d="M11.1857 34.0005C10.9767 34.0006 10.7697 33.9144 10.5766 33.7467L-0.745178 19.5005L10.5765 5.25516C10.7696 5.08719 10.9766 5.00065 11.1857 5.00049H63.2548V30.9798C63.2548 31.7809 63.1028 32.5492 62.8321 33.1157C62.5614 33.6822 62.1942 34.0005 61.8114 34.0005H11.1857Z" fill="#3965EB"/></svg>
									.fetures__item.feture
										.feture__inner
											.feture__icon
												img(src="uploads/book.svg" alt="")
											.feture__name تعلم اللغات
											.feture__label.label
												.label__text القادمة<br>قريبا
												.label__icon
													<svg width="64" height="34" viewBox="0 0 64 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M63.255 2.87383H59.1757V10.0491H63.255V2.87383Z" fill="#3965EB"/><path d="M63.255 2.87359C63.255 2.11147 62.9522 1.38056 62.4133 0.841656C61.8744 0.302753 61.1435 0 60.3814 0L59.1757 0V5.74719H60.3814C61.1435 5.74719 61.8744 5.44444 62.4133 4.90553C62.9522 4.36663 63.255 3.63572 63.255 2.87359Z" fill="#0F46B1"/><path d="M11.1857 34.0005C10.9767 34.0006 10.7697 33.9144 10.5766 33.7467L-0.745178 19.5005L10.5765 5.25516C10.7696 5.08719 10.9766 5.00065 11.1857 5.00049H63.2548V30.9798C63.2548 31.7809 63.1028 32.5492 62.8321 33.1157C62.5614 33.6822 62.1942 34.0005 61.8114 34.0005H11.1857Z" fill="#3965EB"/></svg>
									.fetures__item.feture
										.feture__inner
											.feture__icon
												img(src="uploads/world.svg" alt="")
											.feture__name استكشاف الثقافات
											.feture__label.label
												.label__text القادمة<br>قريبا
												.label__icon
													<svg width="64" height="34" viewBox="0 0 64 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M63.255 2.87383H59.1757V10.0491H63.255V2.87383Z" fill="#3965EB"/><path d="M63.255 2.87359C63.255 2.11147 62.9522 1.38056 62.4133 0.841656C61.8744 0.302753 61.1435 0 60.3814 0L59.1757 0V5.74719H60.3814C61.1435 5.74719 61.8744 5.44444 62.4133 4.90553C62.9522 4.36663 63.255 3.63572 63.255 2.87359Z" fill="#0F46B1"/><path d="M11.1857 34.0005C10.9767 34.0006 10.7697 33.9144 10.5766 33.7467L-0.745178 19.5005L10.5765 5.25516C10.7696 5.08719 10.9766 5.00065 11.1857 5.00049H63.2548V30.9798C63.2548 31.7809 63.1028 32.5492 62.8321 33.1157C62.5614 33.6822 62.1942 34.0005 61.8114 34.0005H11.1857Z" fill="#3965EB"/></svg>
						.slide__text هولو يقدم تجربة متعددة الثقافات كاملة
					.slides__item.slide(data-slide="text" data-timeout="8000")
						.slide__title ترجمة النصوص
						.slide__inner
							.translater.b
								.translater__inner
									.translater__item.--from
										.translater__desc From
										.translater__lang.lang.--detected
											.lang__icon
												img(src="uploads/flag-uae.png" alt="")
												u ?
											.lang__name 
												u اللغة المكتشفة
												span Arabic
										.translater__area.rtl
											.translater__text.hidden-text-for-step(data-type="letter" data-text="اللغة المكتشفة")
									.translater__switch.t-swith
										.t-swith__inner
											.t-swith__icon
												<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.85415 12.6782C6.0329 12.4997 6.0329 12.2086 5.85415 12.0302L5.26147 11.4375C5.08301 11.2588 4.79197 11.2588 4.6135 11.4375L4.02082 12.0302L4.02082 3.875C4.02082 3.11675 4.63757 2.5 5.39582 2.5C5.77481 2.5 6.08332 2.19148 6.08332 1.8125L6.08332 1.35417C6.08332 0.975182 5.77481 0.666667 5.39582 0.666667C3.62665 0.666667 2.18749 2.10583 2.18749 3.875L2.18749 12.0302L1.59481 11.4375C1.41634 11.2588 1.1253 11.2588 0.946837 11.4375L0.354155 12.0302C0.175405 12.2086 0.175405 12.4997 0.354155 12.6782L2.94202 15.2663C3.03168 15.3557 3.17663 15.3557 3.26629 15.2663L5.85415 12.6782Z" fill="#C9C9C9"/><path d="M8.14585 3.32185C7.9671 3.50031 7.9671 3.79107 8.14585 3.96982L8.73854 4.5625C8.91763 4.74159 9.20713 4.74188 9.38651 4.5625L9.97919 3.96982L9.97919 12.125C9.97919 12.8833 9.36244 13.5 8.60419 13.5C8.2252 13.5 7.91669 13.8085 7.91669 14.1875L7.91669 14.6458C7.91669 15.0248 8.2252 15.3333 8.60419 15.3333C10.3734 15.3333 11.8125 13.8942 11.8125 12.125L11.8125 3.96982L12.4052 4.5625C12.5843 4.74159 12.8738 4.74188 13.0532 4.5625L13.6459 3.96982C13.8246 3.79104 13.8246 3.5006 13.6459 3.32185L11.058 0.733698C10.9683 0.644323 10.8234 0.644323 10.7337 0.733698L8.14585 3.32185Z" fill="#C9C9C9"/></svg>
											.t-swith__title التبديل
									.translater__item.--to
										.translater__desc To
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uk.png" alt="")
												u ?
											.lang__name 
												u اللغة المكتشفة
												span English (UK)
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area
											.translater__text.hidden-text-for-step(data-type="word" data-text="Hi, how are you?")
						.slide__text التواصل على الفور في أكثر من 200 لغة مع لصناعة السيارات في كشف
					.slides__item.slide(data-slide="camera" data-timeout="10000")
						.slide__title ترجمة الكاميرا
						.slide__inner
							.translater.b
								.translater__inner
									.translater__item.--from
										.translater__desc From
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uae.png" alt="")
												u ?
											.lang__name 
												u اللغة المكتشفة
												span Arabic
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area
											.translater__pick.pick
												.pick__inner
													.pick__lines
														.pick__line
														.pick__line
													.pick__border
													.pick__img
														img(src="uploads/ball.jpg" alt="")
													.pick__flash
												.pick__desc كرة السلة
										.translater__function.t-fun.--photo
											.t-fun__icon
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 605.113 605.113" style="enable-background:new 0 0 605.113 605.113;" xml:space="preserve"><path d="M529.473,113.459h-56.729l-18.91-37.82C442.695,53.628,436.91,37.82,416.016,37.82H189.097c-20.895,0-27.797,18.04-37.82,37.819l-18.91,37.82H75.639C33.867,113.459,0,147.326,0,189.098v302.556c0,41.771,33.867,75.639,75.639,75.639h453.835c41.771,0,75.639-33.867,75.639-75.639V189.098C605.111,147.327,571.244,113.459,529.473,113.459z M302.556,491.654c-83.543,0-151.278-67.734-151.278-151.277s67.735-151.278,151.278-151.278c83.543,0,151.278,67.735,151.278,151.278S386.1,491.654,302.556,491.654z"/><path d="M302.556,226.918c-62.667,0-113.459,50.792-113.459,113.459c0,62.668,50.792,113.459,113.459,113.459c62.667,0,113.459-50.791,113.459-113.459S365.223,226.918,302.556,226.918z"/></svg>
											.t-fun__title صورة جديدة
									.translater__switch.t-swith
										.t-swith__inner
											.t-swith__icon
												<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.85415 12.6782C6.0329 12.4997 6.0329 12.2086 5.85415 12.0302L5.26147 11.4375C5.08301 11.2588 4.79197 11.2588 4.6135 11.4375L4.02082 12.0302L4.02082 3.875C4.02082 3.11675 4.63757 2.5 5.39582 2.5C5.77481 2.5 6.08332 2.19148 6.08332 1.8125L6.08332 1.35417C6.08332 0.975182 5.77481 0.666667 5.39582 0.666667C3.62665 0.666667 2.18749 2.10583 2.18749 3.875L2.18749 12.0302L1.59481 11.4375C1.41634 11.2588 1.1253 11.2588 0.946837 11.4375L0.354155 12.0302C0.175405 12.2086 0.175405 12.4997 0.354155 12.6782L2.94202 15.2663C3.03168 15.3557 3.17663 15.3557 3.26629 15.2663L5.85415 12.6782Z" fill="#C9C9C9"/><path d="M8.14585 3.32185C7.9671 3.50031 7.9671 3.79107 8.14585 3.96982L8.73854 4.5625C8.91763 4.74159 9.20713 4.74188 9.38651 4.5625L9.97919 3.96982L9.97919 12.125C9.97919 12.8833 9.36244 13.5 8.60419 13.5C8.2252 13.5 7.91669 13.8085 7.91669 14.1875L7.91669 14.6458C7.91669 15.0248 8.2252 15.3333 8.60419 15.3333C10.3734 15.3333 11.8125 13.8942 11.8125 12.125L11.8125 3.96982L12.4052 4.5625C12.5843 4.74159 12.8738 4.74188 13.0532 4.5625L13.6459 3.96982C13.8246 3.79104 13.8246 3.5006 13.6459 3.32185L11.058 0.733698C10.9683 0.644323 10.8234 0.644323 10.7337 0.733698L8.14585 3.32185Z" fill="#C9C9C9"/></svg>
											.t-swith__title التبديل
									.translater__item.--to
										.translater__desc To
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uk.png" alt="")
												u ?
											.lang__name 
												u اللغة المكتشفة
												span English (UK)
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area
											.translater__text.hidden-text-for-step(data-type="word" data-text="Basketball") 
								.translater__photo.t-photo
									.t-photo__inner
										.t-photo__img
											img(src="uploads/ball.jpg" alt="")
						.slide__text نقطة الكاميرا على أي كائن وكيف يطلق عليه في أي لغة
					.slides__item.slide(data-slide="voice" data-timeout="8000")
						.slide__title الترجمة الصوتية
						.slide__inner
							.translater.b
								.translater__inner
									.translater__item.--from
										.translater__desc From
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uae.png" alt="")
												u ?
											.lang__name 
												u اللغة المكتشفة
												span Arabic
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area.rtl
											.translater__question قاعة الطعام
										.translater__function.t-fun.--audio
											.t-fun__icon
												<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 330.000000 512.000000"  preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none"><path d="M1495 5110 c-214 -33 -430 -144 -586 -299 -133 -133 -227 -298 -280 -491 -23 -84 -23 -92 -27 -697 l-3 -613 -240 0 c-221 0 -243 -2 -279 -20 -72 -37 -80 -67 -80 -307 0 -215 9 -332 36 -463 138 -667 700 -1196 1373 -1291 l91 -13 0 -308 0 -308 -390 0 c-372 0 -393 -1 -430 -20 -45 -23 -80 -80 -80 -130 0 -50 35 -107 80 -130 38 -20 57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130 -37 19 -58 20 -430 20 l-390 0 0 308 0 308 91 13 c636 90 1178 569 1349 1192 43 159 52 237 57 505 5 251 5 262 -16 302 -14 28 -35 49 -61 62 -36 18 -58 20 -279 20 l-240 0 -3 613 c-4 587 -5 615 -25 687 -58 209 -148 367 -286 504 -136 136 -297 227 -487 275 -97 25 -307 36 -405 21z m302 -306 c150 -31 275 -99 382 -207 98 -99 160 -207 199 -341 16 -56 17 -135 17 -936 0 -710 -3 -885 -14 -930 -71 -285 -299 -506 -583 -564 -400 -83 -799 182 -882 586 -14 67 -16 187 -16 903 0 714 2 836 16 903 83 404 481 669 881 586z m-1194 -2251 c8 -231 55 -388 167 -561 145 -225 361 -378 640 -455 109 -29 371 -29 480 0 404 111 677 384 782 783 14 52 21 123 25 233 l6 157 150 0 150 0 -6 -167 c-14 -389 -138 -678 -401 -938 -201 -199 -415 -313 -696 -372 -118 -24 -382 -24 -500 0 -284 59 -504 178 -705 381 -159 160 -259 320 -324 520 -47 142 -63 238 -68 414 l-6 162 150 0 150 0 6 -157z"/></g></svg>
											.t-fun__title اضغط <br>مع الاستمرار
									.translater__switch.t-swith
										.t-swith__inner
											.t-swith__icon
												<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.85415 12.6782C6.0329 12.4997 6.0329 12.2086 5.85415 12.0302L5.26147 11.4375C5.08301 11.2588 4.79197 11.2588 4.6135 11.4375L4.02082 12.0302L4.02082 3.875C4.02082 3.11675 4.63757 2.5 5.39582 2.5C5.77481 2.5 6.08332 2.19148 6.08332 1.8125L6.08332 1.35417C6.08332 0.975182 5.77481 0.666667 5.39582 0.666667C3.62665 0.666667 2.18749 2.10583 2.18749 3.875L2.18749 12.0302L1.59481 11.4375C1.41634 11.2588 1.1253 11.2588 0.946837 11.4375L0.354155 12.0302C0.175405 12.2086 0.175405 12.4997 0.354155 12.6782L2.94202 15.2663C3.03168 15.3557 3.17663 15.3557 3.26629 15.2663L5.85415 12.6782Z" fill="#C9C9C9"/><path d="M8.14585 3.32185C7.9671 3.50031 7.9671 3.79107 8.14585 3.96982L8.73854 4.5625C8.91763 4.74159 9.20713 4.74188 9.38651 4.5625L9.97919 3.96982L9.97919 12.125C9.97919 12.8833 9.36244 13.5 8.60419 13.5C8.2252 13.5 7.91669 13.8085 7.91669 14.1875L7.91669 14.6458C7.91669 15.0248 8.2252 15.3333 8.60419 15.3333C10.3734 15.3333 11.8125 13.8942 11.8125 12.125L11.8125 3.96982L12.4052 4.5625C12.5843 4.74159 12.8738 4.74188 13.0532 4.5625L13.6459 3.96982C13.8246 3.79104 13.8246 3.5006 13.6459 3.32185L11.058 0.733698C10.9683 0.644323 10.8234 0.644323 10.7337 0.733698L8.14585 3.32185Z" fill="#C9C9C9"/></svg>
											.t-swith__title التبديل
									.translater__item.--to
										.translater__desc To
										.translater__lang.lang
											.lang__icon
												img(src="uploads/flag-uk.png" alt="")
												u ?
											.lang__name 
												u اللغة المكتشفة
												span English (US)
											.lang__drop
												img(src="uploads/chevron-down.svg" alt="")
										.translater__area
											.translater__answer Food Court
								.translater__audio.t-audio
									.t-audio__girl
										img(src="uploads/voice.gif" alt="")
									.t-audio__micro.micro
										.micro__icon
											<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 330.000000 512.000000"  preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#5F86EE" stroke="none"><path d="M1495 5110 c-214 -33 -430 -144 -586 -299 -133 -133 -227 -298 -280 -491 -23 -84 -23 -92 -27 -697 l-3 -613 -240 0 c-221 0 -243 -2 -279 -20 -72 -37 -80 -67 -80 -307 0 -215 9 -332 36 -463 138 -667 700 -1196 1373 -1291 l91 -13 0 -308 0 -308 -390 0 c-372 0 -393 -1 -430 -20 -45 -23 -80 -80 -80 -130 0 -50 35 -107 80 -130 38 -20 57 -20 970 -20 913 0 932 0 970 20 45 23 80 80 80 130 0 50 -35 107 -80 130 -37 19 -58 20 -430 20 l-390 0 0 308 0 308 91 13 c636 90 1178 569 1349 1192 43 159 52 237 57 505 5 251 5 262 -16 302 -14 28 -35 49 -61 62 -36 18 -58 20 -279 20 l-240 0 -3 613 c-4 587 -5 615 -25 687 -58 209 -148 367 -286 504 -136 136 -297 227 -487 275 -97 25 -307 36 -405 21z m302 -306 c150 -31 275 -99 382 -207 98 -99 160 -207 199 -341 16 -56 17 -135 17 -936 0 -710 -3 -885 -14 -930 -71 -285 -299 -506 -583 -564 -400 -83 -799 182 -882 586 -14 67 -16 187 -16 903 0 714 2 836 16 903 83 404 481 669 881 586z m-1194 -2251 c8 -231 55 -388 167 -561 145 -225 361 -378 640 -455 109 -29 371 -29 480 0 404 111 677 384 782 783 14 52 21 123 25 233 l6 157 150 0 150 0 -6 -167 c-14 -389 -138 -678 -401 -938 -201 -199 -415 -313 -696 -372 -118 -24 -382 -24 -500 0 -284 59 -504 178 -705 381 -159 160 -259 320 -324 520 -47 142 -63 238 -68 414 l-6 162 150 0 150 0 6 -157z"/></g></svg>
										.micro__lines
											.micro__line
											.micro__line
											.micro__line
											.micro__line
						.slide__text قريبا
					.slides__item.slide(data-slide="learn" data-timeout="10000")
						.slide__title تعلم لغات جديدة
						.slide__inner
							.essentials.b
								.essentials__header
									.essentials__header-title قواعد اللغة الإنجليزية
									.essentials__header-flag
										img(src="uploads/flag-uk.png" alt="")
								.essentials__list
									.essentials__item.essential
										.essential__count 1/5
										.essential__wrap
											.essential__inner
												.essential__text
													p #[b Assertive sentence (ननश्चमात्भक वाक्म):]
													p A sentence that makes a statement or declaration is called Assertive sentence. 
													p #[b वे वाक्म जजसभें साधायण रुऩ से कोई फार् मा कथन कहा जाए, उन्हें साधायण मा ननश्चमात्भक वाक्म कहर्े हैं]
													p #[b Assertive sentence are of two types -] <br>a. Affirmative sentence (सकायात्भक वाक्म): A sentence which, states something which shows affirmation is called affirmative sentence.
													p #[b वे वाक्म जजनभें स्वीकाय मोग्म कथन कहा गमा हो, सकायात्भक वाक्म कहरार्े हैं।]


									.essentials__item.essential
										// .essential__count 3/5
										.essential__wrap
											.essential__inner
												.essential__text
													p.--mb.--lg <b>What</b> र्था <b>How</b> का प्रमोग कयके बी ववस्भमाहदफोधक वाक्म फनामे जार्े हैं। ऐसे वाक्मों के अन्र् भें सहामक क्रिमा मा क्रिमा के फाद भें ववस्भमाहदफोधक चचन्ह (!) रगामा जार्ा हैं।
													p.--lg <b>Example:</b>
													p.--mb <b>झॊकाय क्रकर्ना अच्छा रड़का हैं!</b><br>What a good boy Jhankar is!
													p.--mb <b>वे क्रकर्ना धीये चर यहे हैं!</b> <br>How slowly they are walking!
									.essentials__item.essential
										.essential__count 3/4
										.essential__wrap
											.essential__inner
												.essential__text
													p #[b Relative pronoun <br>(सम्फन्धवाचक सववनाभ):]
													p A pronoun which shows relation of a noun is known as relative pronoun. 
													p #[b वह सवानाभ जो वाक्म भें उससे ऩहरे आई हुई सॊ ा से सम्फन्ध प्रकट कयर्ा हो, सम्फन्धवाचक सवानाभ कहरार्ा हैं। र्था दो वाक्मों को जोड़ने का कामा कयर्ा हैं।]
						.slide__text تعلم لغات جديدة من خلال دورات حصرية تتضمن مقاطع فيديو ومسابقات ومحتوى سياقي
					.slides__item.slide(data-slide="culture" data-timeout="6000")
						.slide__title اكتشاف الثقافات الأخرى
						.slide__inner
							.culture.b
								.culture__list
									.culture__item.abu
										.abu__text
											.abu__title 3 أيام#[strong في لندن]
										.abu__bg
											img(src="uploads/london.jpg" alt="")
									.culture__item.must
										.must__list
											.must__item
												.must__title يجب أن تفعل
												.must__desc تأخذ في المحلية <br>الثقافة والفن
											.must__item
												.must__title يجب أن نحاول
												.must__desc السمك والبطاطا,<br>فطيرة الراعي,<br>تافه
									.culture__item.dishes
										.dishes__text
											.dishes__title الوطنية<br>الأطباق<br>لبريطانيا العظمى
										.dishes__bg
											img(src="uploads/food.jpg" alt="")
						.slide__text تزج نفسك في لغة مختلفة مع أدلة السفر الحصرية ، دروس الطبخ والتاريخ والثقافة من مختلف البلدان
																	
				a.sec__next.btn.--md.--blue(href="https://sygopi.com/40872?r=17700&itb&sub7=255645") التالي
