@font-face {
  font-family: "San Francisco Text";
  src: url("SanFranciscoText-Regular.eot");
  src: url("SanFranciscoText-Regular.eot?#iefix") format("embedded-opentype"), url("SanFranciscoText-Regular.woff2") format("woff2"), url("SanFranciscoText-Regular.woff") format("woff"), url("SanFranciscoText-Regular.ttf") format("truetype"), url("SanFranciscoText-Regular.svg#SanFranciscoText-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco Text";
  src: url("SanFranciscoText-Heavy.eot");
  src: url("SanFranciscoText-Heavy.eot?#iefix") format("embedded-opentype"), url("SanFranciscoText-Heavy.woff2") format("woff2"), url("SanFranciscoText-Heavy.woff") format("woff"), url("SanFranciscoText-Heavy.ttf") format("truetype"), url("SanFranciscoText-Heavy.svg#SanFranciscoText-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco Text";
  src: url("SanFranciscoText-Medium.eot");
  src: url("SanFranciscoText-Medium.eot?#iefix") format("embedded-opentype"), url("SanFranciscoText-Medium.woff2") format("woff2"), url("SanFranciscoText-Medium.woff") format("woff"), url("SanFranciscoText-Medium.ttf") format("truetype"), url("SanFranciscoText-Medium.svg#SanFranciscoText-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco Text";
  src: url("SanFranciscoText-Bold.eot");
  src: url("SanFranciscoText-Bold.eot?#iefix") format("embedded-opentype"), url("SanFranciscoText-Bold.woff2") format("woff2"), url("SanFranciscoText-Bold.woff") format("woff"), url("SanFranciscoText-Bold.ttf") format("truetype"), url("SanFranciscoText-Bold.svg#SanFranciscoText-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "San Francisco Text";
  src: url("SanFranciscoText-Semibold.eot");
  src: url("SanFranciscoText-Semibold.eot?#iefix") format("embedded-opentype"), url("SanFranciscoText-Semibold.woff2") format("woff2"), url("SanFranciscoText-Semibold.woff") format("woff"), url("SanFranciscoText-Semibold.ttf") format("truetype"), url("SanFranciscoText-Semibold.svg#SanFranciscoText-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  color: #000000;
  font-size: 15px;
  font-family: "San Francisco Text", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #000000;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

img, svg, path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.case {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1170px;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.left {
  margin-right: auto;
}

.mid {
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-left: auto;
}